:root {
    --primary-color: #70C174;
    --secondary-color: #BEF3C0;
    --primary-text: #1D2130;
    --secondary-text: #525560;
    --hover-color: skyblue;
    --background-color: #fff;
    --color-white: #fff;
}