#service {
  background: #eff7f2;
  padding: 100px 0px;
}

.service-wrapp {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 25px;
}

.service__left {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.service__tittle {
  font-size: 48px;
  font-weight: 700;
}

.service__text {
  padding-bottom: 4px;
}

.service__left {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;
}

.service__deck {
  display: flex;
  align-items: start;
  gap: 15px;
}

.service__deck-tittle {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.service__deck-item {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  width: 100%;
  max-width: 350px;
}

/* -----------*/



/* -------- */

@media (max-width: 1230px) {
  .service-wrapp {
    flex-direction: column;
  }

  .service__right {
    margin: 0 auto;
    padding-top: 50px;
  }

  .service__img {
    width: 100%;
    max-width: 500px;
  }
}

@media (max-width: 700px) {
  .service__tittle {
    font-size: 42px;
  }
}

@media (max-width: 700px) {
  .service__tittle {
    font-size: 36px;
  }

  .service__deck-tittle {
    font-size: 20px;
  }
}


