.media__our-events__cards__card{
    width: 45%;
    padding: 20px;
    background: var(--greenSecondaryColor);
    border: 1px solid transparent;
    border-radius: 8px;
    gap: 10px;
}

.media__our-events__cards{
    padding: 50px 0px;
}

.media__our-events__cards__card__left,.media__our-events__cards__card__middle{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.media__our-events__title img{
    width: 70%;
}
.media__our-events__title h1{
    width: 40%;
}

@media(max-width:850px){
    .media__our-events__title img{
        display: none;
    }
    .media__our-events__title h1{
        width: 100%;
        margin: 0px auto;
    }
}

@media(max-width:1010px){
    .media__our-events__cards{
        flex-wrap: wrap;
        gap: 30px;
    }
    h1{
        font-size: 45px;
    }
    .media__our-events__cards__card{
        width: 80%;
        margin: 0px auto;
    }
}

@media(max-width:525px){
    h1{
        font-size: 30px;
    }
}

@media(max-width:600px){
    .media__hero__middle{
        width: 100%;
    }
    .media__hero__right__card{
        flex-wrap: wrap;
        gap: 20px;
    }
    .media__hero__right__card img{
        width: 90%;
    }
    .media__hero__right__card__left{
        width: 90%;
    }
}

@media(max-width:450px){
    .media__our-events__cards__card{
        flex-wrap: wrap;
        gap: 20px;
        
    }
    .media__our-events__cards__card__left,.media__our-events__cards__card__middle,.media__our-events__cards__card__right{
        width: 100%;
    }
}