.media__recent-news{
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}


.media__recent-news__cards__card{
    border-radius: 8px;
    padding: 10px;
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.media__recent-news__cards__card img{
    width: 100%;
    border-radius: 8px;
}

@media(max-width:1150px){
    .media__recent-news__cards{
        gap: 30px;
        flex-wrap: wrap;
    }
    .media__recent-news__cards__card{
        width: 45%;
    }
}

@media(max-width:600px){
    .media__recent-news__cards__card{
        width: 80%;
        margin: 0 auto;
    }
}